body{
    margin: 0;
    padding: 0;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    animation: sky 10s ease-in-out infinite;
    z-index: 1;
}
.grass{
    position: absolute;
    width: 100vw;
    bottom: 0;
    animation: grass 10s ease-in-out infinite;
    z-index: 1;
}
.sun{
    position: fixed;
    width: 30vw;
    top: 2vh;
    right: 10vw;
    animation: sun 10s ease-in-out infinite;
    z-index: 1;
}
.moon{
    position: fixed;
    width: 20vw;
    top: 2vh;
    left: -30vw;
    animation: sun 10s ease-in-out infinite;
    z-index: 1;
}
.cloud{
    position: fixed;
    width: 15vw;
    animation: cloud 20s ease-in-out infinite;
    opacity: 0.8;
}
#cloud1{
    top: 7vw;
    left: 15vw;
    z-index: 2;
}

.airplane{
    position: fixed;
    width: 40vw;
    right: -50vw;
    top: 7vh;
    animation: airplane 10s ease-in-out infinite;
    z-index: 5;
    box-shadow: -10vw 80vh 200px rgba(0,0,0,0.7);
}
.cactus{
    position: fixed;
    width: 10vw;
    z-index: 3;
    bottom: 15vw;
    right: 20vw;
    animation: grass 10s ease-in-out infinite;
    transition: width 5s ease-in;
}
.cactus:hover{
    width: 14vw;
}
.tumbleweed{
    position: fixed;
    width: 7vw;
    bottom: 10vw;
    left: -7vw;
    z-index: 3;
    animation: tumbleweed 10s ease-in-out infinite;
}
.star img{
    position: fixed;
    width: 2vw;
    animation: star 10s ease-in-out infinite;
    opacity: 0;
}
.star img:nth-child(1){
    top: 5vw;
    left: 40vw;
}
.star img:nth-child(2){
    top: 7vw;
    left: 45vw;
}
.star img:nth-child(3){
    top: 9vw;
    left: 50vw;
}
.star img:nth-child(4){
    top: 14vw;
    left: 50vw;
}
.star img:nth-child(5){
    top: 15vw;
    left: 57vw;
}
.star img:nth-child(6){
    top: 11vw;
    left: 59vw;
}
@keyframes sky {
    70%{
    background-color: darkblue;
    }
}
@keyframes grass {
    70%{
        filter: brightness(40%);
    }
}
@keyframes sun {
    70%{
        transform: translateX(40vw) rotate(180deg);
        filter: brightness(40%);
    }
}
@keyframes moon {
    70%{
        transform: translateX(20vw) rotate(5deg);

    }
}
@keyframes cloud {
    50%{
        opacity: 0.6;
    }
    70%{
        transform: translateX(20vw);
        filter: brightness(70%);
    }
}
@keyframes airplane {
    50%{
        transform: translateX(-150vw);

    }
    100%{
        transform: translateX(-151vw);
    }
}
@keyframes tumbleweed {
    100% {
        transform: translate(80vw,25vw) rotate(720deg);
        filter: brightness(40%);
    }
}

@keyframes star {
    30% {
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
}